@charset "UTF-8";
*, p {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul {
  list-style-type: none;
  color: inherit;
}

a, a:hover {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

input, button {
  outline: none;
  border: none;
}

.hidden {
  display: none;
}

.unscroll {
  overflow-y: hidden;
}

.transparent {
  opacity: 0;
}

.main-footer .social-icons-footer a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-footer h4 {
  font: 15px Oswald, sans-serif;
}

.main-footer .newsletter .reg-btn {
  background-color: #ED8B5C;
  padding: 10px 15px;
  font: 13px ArialMT, sans-serif;
  color: #ffffff;
}

@font-face {
  font-family: "FontAwesome";
  src: url(../fonts/fontawesome-webfont.eot);
  src: url(../fonts/fontawesome-webfont.eot) format("embedded-opentype");
  src: url(../fonts/fontawesome-webfont.woff2) format("woff2");
  src: url(../fonts/fontawesome-webfont.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "ArialMT";
  src: url(../fonts/ArialMT.eot);
  src: url(../fonts/ArialMT.eot?#iefix) format("embedded-opentype");
  src: url(../fonts/ArialMT.woff) format("woff");
  src: url(../fonts/ArialMT.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
}
.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fa-user:before {
  content: "";
}

.active-color {
  color: #ED8B5C;
}

body {
  font-family: "ArialMT", sans-serif;
  color: #666;
  font-size: 13px;
  line-height: 18px;
}

nav {
  display: block;
}

.welcome-text p {
  margin: 0;
  line-height: 40px;
  font-size: 13px;
}

#mobile_links {
  line-height: 45px;
  margin: 0;
  padding-left: 29px;
  position: relative;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

#mobile_links:hover .expand-more {
  color: #ed8b5c;
}

#mobile_links i.fa-user {
  margin-right: 8px;
  font-size: 13px;
}

.header-nav {
  /*height: 40px */
  background-color: #e6e3e3;
  font-size: 12px;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.header-nav .row {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-nav .mobile-links {
  text-align: right;
}

.logo-link {
  display: block;
  padding: 15px 0;
  cursor: pointer;
}

.logo_header {
  margin-top: 10px;
  padding-bottom: 10px;
  height: 90px;
}

.header-top {
  padding-bottom: 0;
  background: #f5f5f5;
  background-image: url(../images/bg-ny.png);
  background-repeat-y: no-repeat;
}

.header-top .top-form-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-top .form-row {
  width: 100%;
}

.form-row .col {
  padding: 0;
}

.form-row select,
.form-row input {
  height: 40px;
  border-radius: 0;
}

.form-row select,
.form-row select option {
  background-color: #a8a8a8;
  color: #fff;
}

.form-row .input-wrap {
  position: relative;
}

.form-row input {
  padding-right: 40px;
}

.form-row .input-wrap .button-search {
  position: absolute;
  top: 0;
  right: 0;
  color: #626060;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.form-row .button-search:hover {
  color: #ed8b5c;
}

.input-wrap .button-search:before {
  position: absolute;
  top: 9px;
  right: 6px;
  content: "";
  display: block;
  font-family: "FontAwesome";
  font-size: 14px;
  width: 100%;
  text-align: center;
}

/*.button-search:before:hover { */
/*  color: red; */
/*} */
.header-top .help_ {
  color: #ed8b5c;
  padding-top: 40px;
  font-weight: 700;
  font-size: 13px;
}

.header-top .help_ i {
  width: 16px;
  text-align: center;
  line-height: 16px;
  height: 16px;
  border-radius: 5px;
  background: #ed8b5c;
  color: #fff;
  margin-right: 10px;
}

.fa-phone:before {
  content: "";
}

.fa-mobile:before {
  content: "";
}

.fa-gears:before {
  content: "";
}

.fa-shekel:before {
  content: "";
}

.fa-laptop:before {
  content: "";
}

.header-top .help_ .help_1 {
  display: inline-block;
  color: #666;
  font-size: 13px;
  font-weight: 100;
}

.header_menu {
  background: #333;
  position: relative;
  width: 100%;
}
.header_menu .menu-wrapper {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

/* menu */
.v-megamenu-container {
  display: block;
  padding-right: 0;
  padding-left: 0;
  position: relative;
  z-index: 99;
}

.v-megamenu-container:hover .v-megamenu {
  display: block;
}

.v-megamenu-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #ed8b5c;
  padding: 16px 17px 16px 20px;
  cursor: pointer;
}

.v-megamenu-title h3 {
  color: #fff;
  font-size: 14px;
  margin: 0;
  font-weight: 300;
  text-transform: uppercase;
}

.title_font {
  font-family: "Oswald", sans-serif;
}

.fa-bars:before {
  content: "";
  font-size: 18px;
  color: #fff;
  margin-right: 10px;
}

.v-megamenu {
  position: absolute;
  color: #999999;
  width: 100%;
  display: none;
  padding-top: 10px;
  background: #fff;
  cursor: pointer;
}
.v-megamenu .fa {
  width: 10px;
  margin-right: 15px;
}

.menu-title {
  display: block;
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
  padding: 8px 15px 8px 20px;
  text-decoration: none;
  color: #666;
  position: relative;
}

.menu-title:hover {
  color: #ed8b5c;
}

.header_menu {
  color: #fff;
}

.header_menu ul {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  text-transform: uppercase;
  color: #fff;
}

.header_menu ul a {
  padding: 0 13px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.header_menu ul a:hover {
  color: #ed8b5c;
}

.header_menu .cart-preview {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.header_menu .cart-preview p {
  margin-bottom: 0;
}

.cart-preview .fa-shopping-cart:before {
  content: "";
}

.carousel-caption h5 {
  background-color: #ed8b5c;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 10px;
  margin: 0 68% 0 0;
  cursor: pointer;
}
.carousel-caption h5:hover {
  background-color: grey;
}
.carousel-caption p {
  font-size: 15px;
  background-color: #333333;
  padding: 2px;
  margin: 14px 68% 0 0;
}

/* ----------------- main  ---------------------- */
.main {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #f5f5f5;
}

.main-pg-container {
  padding-bottom: 10px;
}

.main-slider {
  position: relative;
  overflow: hidden;
}

.main-slider:hover .main-slider-arrows {
  opacity: 1;
}

.main-slider-arrows {
  position: absolute;
  cursor: pointer;
  width: 35px;
  height: 35px;
  background-color: #fff;
  color: #666;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  opacity: 0;
}

.main-slider-arrows:hover {
  background-color: #ed8b5c;
}

.main-slider-arrows .fa-angle-left:before {
  content: "";
}

.main-slider-arrows .fa-angle-right:before {
  content: "";
}

.main-slider-arrows:nth-child(1) {
  left: 10px;
}

.main-slider-arrows:nth-child(2) {
  right: 10px;
}

.main-slider-items-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 3510px;
}

/* modal */
.hide {
  display: none;
}

.basket-modal {
  max-width: 800px;
  height: 500px;
  background-color: #fff;
  padding: auto;
  margin: 30px auto;
  -webkit-box-shadow: 0 14px 28px rgba(33, 150, 243, 0.08), 0 4px 8px rgba(0, 0, 0, 0.22);
          box-shadow: 0 14px 28px rgba(33, 150, 243, 0.08), 0 4px 8px rgba(0, 0, 0, 0.22);
  margin-top: 5%;
  position: relative;
  z-index: 501;
}

.basket-modal-overflow {
  max-width: 800px;
  height: 500px;
  padding: auto;
  margin: 30px auto;
  margin-top: 5%;
  position: relative;
  z-index: 501;
  overflow: hidden;
}

.basket-slider {
  width: 1600px;
  -webkit-transition: all ease 1s;
  transition: all ease 1s;
}

.cart-menu {
  background: white;
  position: -webkit-sticky;
  position: sticky;
  bottom: 0px;
  -webkit-box-shadow: 0px -2px 5px 1px rgba(0, 0, 0, 0.25);
          box-shadow: 0px -2px 5px 1px rgba(0, 0, 0, 0.25);
  height: 80px;
}

.left-bsk-50, .right-bsk-50 {
  width: 50%;
  float: left;
}

.left-bsk-50 {
  overflow: auto;
  height: 500px;
}

.basket-modal-wrap {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(201, 199, 196, 0.9);
  z-index: 500;
}

.basket-modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 500;
}

.basket-close-modal {
  position: absolute;
  cursor: pointer;
  top: -32px;
  right: -32px;
}

.basket-container {
  margin: 33px 0;
  z-index: 502;
}

.basket-product-container {
  margin: 8px auto;
  height: 150px;
  width: 98%;
  background: #fbfbfb;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
}

.img-size-bskt {
  position: relative;
  margin: 15% 15%;
  height: 100px;
}

.products-photo {
  width: 30%;
}

.products-description {
  width: 55%;
}

.prise-quantity {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
}

.quantity {
  width: 50px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  height: 35px;
  text-align: center;
}

.delet-img {
  position: relative;
  bottom: 35%;
  left: 10%;
  cursor: pointer;
}

.heightBask {
  height: 195px;
}

.empty-shopping-cart {
  height: 250px;
  margin-right: 50px;
}

.empty-shopping-cart-container {
  height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.empty-cart {
  margin-top: 20px;
  color: #c9c8c4;
}

.total-price {
  color: #3a434c;
}

.checkout-oder, .сonfirm {
  background-color: #ED8B5C;
  padding: 10px 20px;
  font: 13px ArialMT, sans-serif;
  color: #ffffff;
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 0;
}

.cart-menu-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 22px 40px;
}

.checkout {
  width: 800px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: start;
      align-content: flex-start;
}

.checkout-flex-container {
  width: 740px;
  padding-top: 20px;
  padding-left: 10px;
}

.back-to-cart {
  background-color: #999999;
  padding: 10px 20px;
  font: 13px ArialMT, sans-serif;
  color: #ffffff;
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 0;
}

.delivery {
  position: absolute;
  margin: -11px 0 0 -20px;
}

.payment {
  position: absolute;
  margin: -11px 0 0 -20px;
}

.heightBr {
  height: 16px;
  width: 100%;
}

.delivery-img, .payment-img {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.personal-info {
  color: #414141;
}

.form-button {
  width: 740px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
}

.bold-text {
  font-weight: bold;
}

.for-processing {
  width: 800px;
  height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.cart-cursor {
  cursor: pointer;
}

.fa-shopping-cart:hover {
  height: 20px;
}

/*chips */
.chips {
  font-size: 110%;
  padding: 5px 10px;
  margin: 10px 0;
  background: #ee802f;
  border-radius: 6px;
  width: auto;
  position: fixed;
  top: 65px;
  left: 43%;
}

.chipsAdd {
  background: #a8a8a8;
  color: white;
}

.chipsNot {
  background: #ed8b5c;
  color: white;
  left: 41%;
}

.modal-wrap-email {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #d2d2d2a3;
  z-index: 500;
}

.modal-email {
  max-width: 800px;
  min-height: 450px;
  background-color: #fff;
  padding: auto;
  margin: 30px auto;
  -webkit-box-shadow: 0 14px 28px rgba(33, 150, 243, 0.08), 0 4px 8px rgba(0, 0, 0, 0.22);
          box-shadow: 0 14px 28px rgba(33, 150, 243, 0.08), 0 4px 8px rgba(0, 0, 0, 0.22);
  margin-top: 5%;
  position: relative;
  background: url(../images/modalSubscribe/background_image1.jpg);
  z-index: 501;
}

.modal-container-email {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 500;
  display: none;
}

.modal-input {
  position: absolute;
  right: 5%;
  bottom: 50%;
  padding: 15px;
  width: 320px;
  height: 40px;
}

.modal-text {
  color: #fff;
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  text-transform: uppercase;
  position: absolute;
  right: 5%;
  bottom: 70%;
  line-height: 30px;
}

.modal-p {
  color: #fff;
  position: absolute;
  right: 5%;
  bottom: 64%;
}

.modal-btn {
  text-align: center;
  padding: 11px 15px;
  border: none;
  font: 16px Arial, Helvetica, sans-serif;
  color: #ffffff;
  background: #ed8a5c;
  position: absolute;
  right: 5%;
  bottom: 37%;
  cursor: pointer;
}

.close-modal-email {
  position: absolute;
  right: 1%;
  top: 1%;
  cursor: pointer;
}

.error-modal {
  color: firebrick;
  position: absolute;
  right: 5%;
  top: 37.5%;
}

section {
  margin-bottom: 30px;
}

section.new-products {
  margin-top: 30px;
  overflow: hidden;
  background-color: #ffffff;
  position: relative;
}
section.new-products .new-products-header {
  padding: 10px 0;
  border-bottom: 1px solid lightgrey;
  position: relative;
}
section.new-products .new-products-header h4 {
  font: 16px Oswald, sans-serif;
  text-transform: uppercase;
  padding-left: 20px;
  margin: 0;
}
section.new-products .new-products-header .products-arrow {
  width: 25px;
  height: 25px;
  position: absolute;
  top: 8px;
  background-color: #ececec;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  cursor: pointer;
}
section.new-products .new-products-header .products-arrow:hover {
  background-color: #ed8b5c;
}
section.new-products .new-products-header .products-arrow:before {
  width: 8px;
  height: 8px;
  position: absolute;
  content: "";
  display: block;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
}
section.new-products .new-products-header .products-arrow-left {
  right: 45px;
}
section.new-products .new-products-header .products-arrow-left:before {
  border-left: 1px solid #000000;
  border-bottom: 1px solid #000000;
}
section.new-products .new-products-header .products-arrow-right {
  right: 10px;
}
section.new-products .new-products-header .products-arrow-right:before {
  border-top: 1px solid #000000;
  border-right: 1px solid #000000;
}
section.new-products .new-products-items-wrapper {
  margin: 0;
  padding: 20px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  position: relative;
}

section.new-products .new-products-item {
  margin-bottom: 15px;
}
section.new-products .new-products-item .top-side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
section.new-products .new-products-item .item-img-wrapper {
  width: 148px;
  height: 148px;
  border: 1px solid lightgrey;
  margin-bottom: 10px;
  position: relative;
}
section.new-products .new-products-item .item-img-wrapper img {
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  max-height: 100%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
section.new-products .new-products-item .item-text-wrapper {
  padding: 25px 10px;
  padding-right: 14px;
  width: 140px;
}
section.new-products .new-products-item h5 {
  font-size: 13px;
  color: #444444;
}
section.new-products .new-products-item .item-price {
  font-size: 14px;
  font-family: Oswald, sans-serif;
  color: #ed8b5c;
}
section.new-products .new-products-item .prod-btn,
section.new-products .new-products-item .add-to-basket {
  color: #ffffff;
  font-size: 13px;
  background-color: #ed8b5c;
  padding: 6px 12px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
section.new-products .new-products-item .prod-btn:hover,
section.new-products .new-products-item .add-to-basket:hover {
  background-color: grey;
}
section.new-products .new-products-item .prod-btn .fa-eye,
section.new-products .new-products-item .add-to-basket .fa-eye {
  padding-right: 12px;
}
section.new-products .new-products-item .prod-btn .fa-eye:before,
section.new-products .new-products-item .add-to-basket .fa-eye:before {
  content: "";
}

.category-page-container .side-column .category-column-menu-wrapper, .category-page-container .side-column .category-filter-column-wrapper {
  border-top: 2px solid #ED8B5C;
  background-color: #ffffff;
  margin-bottom: 30px;
}
.category-page-container .side-column .category-column-menu {
  padding: 0 20px;
}
.category-page-container .side-column .category-column-menu-header, .category-page-container .side-column .category-filter-column-wrapper .category-filter-header {
  padding-left: 16px;
  font-size: 16px;
  color: #444;
}
.category-page-container .side-column li {
  font-size: 14px;
  font-family: Oswald, sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  color: #414141;
  padding: 16px 20px;
  padding-left: 0;
  border-bottom: 1px solid #ececec;
}
.category-page-container .side-column li a {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  cursor: pointer;
}
.category-page-container .side-column li a:hover {
  color: #ED8B5C;
}
.category-page-container .side-column .category-filter-column-wrapper .category-filter-menu {
  padding: 0 20px;
  padding-bottom: 20px;
}
.category-page-container .side-column .category-filter-column-wrapper .filter-colors {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.category-page-container .side-column .category-filter-column-wrapper .filter-colors label {
  padding-top: 0.5rem;
  cursor: pointer;
}
.category-page-container .side-column .category-filter-column-wrapper .filter-colors .color-square {
  width: 15px;
  height: 15px;
  background-color: black;
  display: inline-block;
  margin-right: 8px;
  border: 2px solid lightgray;
}
.category-page-container .side-column .category-filter-column-wrapper .filter-colors input {
  display: none;
}
.category-page-container .side-column .category-filter-column-wrapper .filter-colors input:checked + span {
  border: 2px solid blue;
}
.category-page-container .side-column .category-filter-column-wrapper .price-input {
  margin-bottom: 16px;
}
.category-page-container .side-column .category-filter-column-wrapper .ui-slider {
  margin-bottom: 16px;
}
.category-page-container .side-column .category-filter-column-wrapper .apply-filter {
  width: 100%;
  margin: 8px 0;
}
.category-page-container .side-column .category-filter-column-wrapper li {
  font-size: 14px;
  font-family: Oswald, sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  color: #414141;
  padding: 16px 20px;
  padding-left: 0;
  border-bottom: 1px solid #ececec;
}
.category-page-container .category-content-column .category-img-wrapper {
  height: 288px;
  margin-bottom: 30px;
}
.category-page-container .category-content-column .category-img-wrapper img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.category-page-container .category-content-column .products-selection {
  padding: 7px 10px 7px 15px;
  margin-bottom: 30px;
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.category-page-container .category-content-column .products-selection .click-product-list-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.category-page-container .category-content-column .products-selection .fa {
  padding: 5px;
  font-size: 1.8em;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.category-page-container .category-content-column .products-selection .fa:hover {
  color: #ED8B5C;
}
.category-page-container .category-content-column .products-selection .fa-th:before {
  content: "";
}
.category-page-container .category-content-column .products-selection .fa-th-list:before {
  content: "";
}
.category-page-container .category-content-column .products-selection .total-products,
.category-page-container .category-content-column .products-selection .box-sort-by {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.category-page-container .item .img-item-wrap {
  padding: 5px;
  height: 220px;
  background-color: #ffffff;
  cursor: pointer;
  position: relative;
}
.category-page-container .item .img-item-wrap img {
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  max-height: 100%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.category-page-container .item .text-item-wrap {
  padding: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.category-page-container .item .text-item-wrap .item-name {
  height: 54px;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.category-page-container .item .text-item-wrap .item-name:hover {
  color: #ED8B5C;
}
.category-page-container .item .text-item-wrap .item-price {
  font: 14px Oswald, sans-serif;
  color: #ED8B5C;
}
.category-page-container .item.item-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  margin-bottom: 20px;
  overflow: hidden;
}
.category-page-container .item.item-list .img-item-wrap {
  width: 270px;
  height: 270px;
  border-right: 1px solid #ededed;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
}
.category-page-container .item.item-list .text-item-wrap {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  text-align: left;
  background-color: #ffffff;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.category-page-container .item.item-list .text-item-wrap p {
  margin-bottom: 8px;
}
.category-page-container .item.item-list .text-item-wrap .item-name {
  font-size: 18px;
  color: #696969;
}
.category-page-container .item.item-list .text-item-wrap .item-name:hover {
  color: #ED8B5C;
}
.category-page-container .item.item-list .hidden {
  display: block;
}

.wrapper-product-card, .category-page-container {
  margin-top: 0;
}
.wrapper-product-card .breadcrumb-block, .category-page-container .breadcrumb-block {
  background: #fff;
  height: 50px;
  width: 100%;
  padding: 0;
  line-height: 50px;
  padding-left: 20px;
  margin-bottom: 30px;
  border: 1px solid #f0f0f0;
}
.wrapper-product-card .breadcrumb-block .breadcrumb-list, .category-page-container .breadcrumb-block .breadcrumb-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}
.wrapper-product-card .breadcrumb-block .breadcrumb-list .breadcrumb-link, .category-page-container .breadcrumb-block .breadcrumb-list .breadcrumb-link {
  font-size: 14px;
  font-family: "Oswald", sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  color: #414141;
  padding-right: 30px;
  -webkit-transition-duration: 0.35s;
          transition-duration: 0.35s;
  position: relative;
  cursor: pointer;
}
.wrapper-product-card .breadcrumb-block .breadcrumb-list .breadcrumb-link:before, .category-page-container .breadcrumb-block .breadcrumb-list .breadcrumb-link:before {
  font-family: FontAwesome;
  content: "";
  position: absolute;
  display: block;
  color: #444;
  right: 12px;
  font-size: 14px;
  font-weight: 700;
}
.wrapper-product-card .breadcrumb-block .breadcrumb-list .breadcrumb-link:hover, .category-page-container .breadcrumb-block .breadcrumb-list .breadcrumb-link:hover {
  color: #ED8B5C;
}
.wrapper-product-card .breadcrumb-block .breadcrumb-list .breadcrumb-link:last-child::before, .category-page-container .breadcrumb-block .breadcrumb-list .breadcrumb-link:last-child::before {
  content: "";
  right: 0;
}
.wrapper-product-card #content-wrapper #block-product-information h1, .category-page-container #content-wrapper #block-product-information h1 {
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  line-height: 1;
  text-transform: uppercase;
  color: #414141;
}
.wrapper-product-card #content-wrapper #block-product-information .btnBuyProduct, .category-page-container #content-wrapper #block-product-information .btnBuyProduct {
  color: #fff;
  background: #e16959;
  font-size: 13px;
  height: auto;
  line-height: 1;
  padding: 10px 15px;
  text-transform: uppercase;
  transition: all 0.15s ease-in-out 0s;
  -moz-transition: all 0.15s ease-in-out 0s;
  -ms-transition: all 0.15s ease-in-out 0s;
  -o-transition: all 0.15s ease-in-out 0s;
  -webkit-transition: all 0.15s ease-in-out 0s;
}
.wrapper-product-card #content-wrapper #block-product-information .btnBuyProduct:hover, .category-page-container #content-wrapper #block-product-information .btnBuyProduct:hover {
  background-color: #999999;
}
.wrapper-product-card #content-wrapper #block-product-information .btnBuyProduct i.fa-shopping-cart:before, .category-page-container #content-wrapper #block-product-information .btnBuyProduct i.fa-shopping-cart:before {
  content: "";
}
.wrapper-product-card #content-wrapper #slider-base-image, .category-page-container #content-wrapper #slider-base-image {
  border: 1px solid #f0f0f0;
  background-color: #fff;
  position: relative;
  left: -14px;
  height: 400px;
  padding: 20px;
  text-align: center;
  clearmargin-bottom: 20px;
  margin-bottom: 20px;
}
.wrapper-product-card #content-wrapper #slider-base-image img, .category-page-container #content-wrapper #slider-base-image img {
  height: 100%;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.wrapper-product-card #content-wrapper #slider-carousel-images, .category-page-container #content-wrapper #slider-carousel-images {
  position: relative;
  left: -14px;
  margin-top: 16px;
  width: 80%;
  margin: 0 auto;
}
.wrapper-product-card #content-wrapper #slider-carousel-images .owl-nav, .category-page-container #content-wrapper #slider-carousel-images .owl-nav {
  position: absolute;
  top: 28px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: -1;
}
.wrapper-product-card #content-wrapper #slider-carousel-images .owl-nav .owl-prev, .category-page-container #content-wrapper #slider-carousel-images .owl-nav .owl-prev {
  background-color: #333;
  color: #fff;
  padding: 7px;
  left: -22px;
  position: relative;
}
.wrapper-product-card #content-wrapper #slider-carousel-images .owl-nav .owl-next, .category-page-container #content-wrapper #slider-carousel-images .owl-nav .owl-next {
  background-color: #333;
  color: #fff;
  padding: 4px;
  padding: 7px;
  right: -22px;
  position: relative;
}
.wrapper-product-card #content-wrapper .item.img-tmbl, .category-page-container #content-wrapper .item.img-tmbl {
  height: 80px;
  width: 80px;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid #f0f0f0;
  cursor: pointer;
}
.wrapper-product-card #content-wrapper .item.img-tmbl img, .category-page-container #content-wrapper .item.img-tmbl img {
  padding: 6px;
  height: 100%;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.wrapper-product-card #description-full, .category-page-container #description-full {
  margin-top: 20px;
  margin-left: -15px;
  margin-right: -15px;
}
.wrapper-product-card #description-full .title-description, .category-page-container #description-full .title-description {
  font-family: "Oswald", sans-serif;
  background: #e16959;
  color: #fff;
  border: none;
  font-size: 14px;
  line-height: 18px;
  padding: 16px 25px;
  text-transform: uppercase;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.wrapper-product-card #description-full #content-description, .category-page-container #description-full #content-description {
  background-color: #fff;
  padding: 25px 30px;
  border-top: 2px solid #e16959;
}
.wrapper-product-card #description-full #content-description p, .category-page-container #description-full #content-description p {
  font-size: 14px;
  line-height: 24px;
  color: #666;
  text-align: justify;
}
.wrapper-product-card #comments-product, .category-page-container #comments-product {
  margin-top: 20px;
  margin-left: -15px;
  margin-right: -15px;
}
.wrapper-product-card #comments-product .title-comments, .category-page-container #comments-product .title-comments {
  font-family: "Oswald", sans-serif;
  background: #e16959;
  color: #fff;
  border: none;
  font-size: 14px;
  line-height: 18px;
  padding: 16px 25px;
  text-transform: uppercase;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.wrapper-product-card #comments-product #content-comments, .category-page-container #comments-product #content-comments {
  background-color: #fff;
  padding: 25px 30px;
  border-top: 2px solid #e16959;
}
.wrapper-product-card #comments-product #content-comments .noComment-block, .category-page-container #comments-product #content-comments .noComment-block {
  text-align: center;
  font-size: 18px;
}
.wrapper-product-card #comments-product #add-comments, .category-page-container #comments-product #add-comments {
  background-color: #e0e0e0;
  padding: 25px 30px;
  position: relative;
}
.wrapper-product-card #comments-product #add-comments #nameCom, .category-page-container #comments-product #add-comments #nameCom {
  display: block;
  border: 1px solid #ccc;
  margin-bottom: 15px;
  padding: 10px;
}
.wrapper-product-card #comments-product #add-comments #textCom, .category-page-container #comments-product #add-comments #textCom {
  border: 1px solid #ccc;
  width: 100%;
  height: 120px;
  padding: 10px;
  margin-bottom: 15px;
}
.wrapper-product-card #comments-product #add-comments .wrongCom, .category-page-container #comments-product #add-comments .wrongCom {
  color: #e16959;
  margin: 0 6px;
}

.product-prices {
  font-weight: 700;
  font-size: 24px;
  line-height: 1;
  color: #e16959;
  font-family: "ArialMT";
  margin-top: 15px;
  margin-bottom: 15px;
}

.product-description-short {
  font-family: "ArialMT";
  font-size: 13px;
  color: #666;
}

.control-label {
  font-family: "ArialMT";
  line-height: 30px;
  margin-bottom: 0;
  margin-right: 15px;
  min-width: 65px;
  width: auto;
  color: #666;
  font-size: 13px;
}

#add-to-cart .control-choice-color {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 15px 0;
}
#add-to-cart #group-color {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  margin-top: 3px;
}
#add-to-cart #group-color .color {
  display: block;
  width: 20px;
  height: 20px;
  border: 1px solid #d2d2d2;
  padding: 4px;
  margin-right: 10px;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
#add-to-cart #group-color .color:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
#add-to-cart #group-color .checkColor {
  border: 2px solid red;
}
#add-to-cart #input-group-fromProduct {
  margin-bottom: 20px;
}
#add-to-cart #input-group-fromProduct #quantityInput {
  width: 100px;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  margin-top: -5px;
}

.comment-block {
  padding-bottom: 20px;
  margin-bottom: 25px;
  border-bottom: 1px dashed #e3e3e3;
}
.comment-block .user-commentBlock {
  font-size: 18px;
  min-width: 130px;
  margin-right: 15px;
  margin-bottom: 10px;
}

.btn-prod, .category-page-container .side-column .category-filter-column-wrapper .apply-filter {
  color: #fff;
  background: #e16959;
  font-size: 13px;
  height: auto;
  line-height: 1;
  padding: 10px 15px;
  text-transform: uppercase;
  transition: all 0.15s ease-in-out 0s;
  -moz-transition: all 0.15s ease-in-out 0s;
  -ms-transition: all 0.15s ease-in-out 0s;
  -o-transition: all 0.15s ease-in-out 0s;
  -webkit-transition: all 0.15s ease-in-out 0s;
}
.btn-prod:hover, .category-page-container .side-column .category-filter-column-wrapper .apply-filter:hover {
  background-color: #999999;
}

.bannerAds {
  cursor: pointer;
}
.bannerAds:hover {
  opacity: 0.9;
}

.main-footer {
  background-color: #333333;
  color: #999999;
  font: 13px ArialMT, sans-serif;
  padding-top: 45px;
}
.main-footer h4 {
  color: #ffffff;
  text-transform: uppercase;
  line-height: 1;
  margin-bottom: 16px;
}
.main-footer li {
  padding: 9px 0;
  padding-left: 14px;
  border-bottom: 1px solid #3D3D3D;
}
.main-footer li a {
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.main-footer li a:hover {
  color: #ED8B5C;
}
.main-footer li .fa-caret-right {
  position: relative;
}
.main-footer li .fa-caret-right:before {
  content: "";
  position: absolute;
  top: -11px;
  left: -13px;
}
.main-footer .social-icons-footer {
  padding-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.main-footer .social-icons-footer a {
  width: 30px;
  height: 30px;
  background-color: #4c4c4c;
  border-radius: 50%;
  margin-right: 5px;
  font-size: 15px;
  color: #ffffff;
  font-family: FontAwesome;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.main-footer .social-icons-footer a:nth-last-child(1) {
  margin-right: 0;
}
.main-footer .social-icons-footer .facebook:before {
  content: "";
}
.main-footer .social-icons-footer .twitter:before {
  content: "";
}
.main-footer .social-icons-footer .rss:before {
  content: "";
}
.main-footer .social-icons-footer .youtube:before {
  content: "";
}
.main-footer .social-icons-footer .googleplus:before {
  content: "";
}
.main-footer .social-icons-footer .pinterest:before {
  content: "";
}
.main-footer .social-icons-footer .facebook:hover {
  background-color: #3E4F62;
}
.main-footer .social-icons-footer .twitter:hover {
  background-color: #00ACEE;
}
.main-footer .social-icons-footer .rss:hover {
  background-color: #EE802F;
}
.main-footer .social-icons-footer .youtube:hover {
  background-color: #D62423;
}
.main-footer .social-icons-footer .googleplus:hover {
  background-color: #DD4B39;
}
.main-footer .social-icons-footer .pinterest:hover {
  background-color: #366184;
}
.main-footer .newsletter p {
  margin-bottom: 15px;
}
.main-footer .newsletter input {
  height: 40px;
  background-color: #4c4c4c;
  margin-bottom: 15px;
  padding: 0 15px;
  outline: 1px solid transparent;
}
.main-footer .newsletter input:focus {
  outline: 1px solid mediumslateblue;
}
.main-footer .newsletter .reg-btn {
  width: 120px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.main-footer .newsletter .reg-btn:hover {
  background-color: #000000;
}
.main-footer .adresses-footer .contact-item-foot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.main-footer .adresses-footer p {
  padding-left: 10px;
  margin-bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.main-footer .adresses-footer .contact-icon {
  margin: 10px 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 40px;
  height: 40px;
  border: 1px solid #ffffff;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.main-footer .adresses-footer .logo-link {
  padding: 0;
  margin-bottom: 18px;
}
.main-footer .adresses-footer .fa {
  font-size: 15px;
  color: #ffffff;
}
.main-footer .adresses-footer .fa-map-marker:before {
  content: "";
}
.main-footer .adresses-footer .fa-phone:before {
  content: "";
}
.main-footer .adresses-footer .fa-envelope:before {
  content: "";
}
.main-footer .sub-footer {
  background-color: #222222;
  padding: 16px 0;
}

/*# sourceMappingURL=main.css.map */